<nav class="header-wrapper">
  <a [routerLink]="['', '/']" class="title-wrapper">
    <lucide-angular
      class="default-icon"
      name="mic"
      [size]="24"
      [strokeWidth]="2"
    ></lucide-angular>
    <span class="title">PUP<span class="highlighted">AI</span></span>
  </a>

  <div class="navigation-wrapper">
    @if(isLoggedIn) {
    <a class="btn sign-in-btn" (click)="logout()">Logout</a>
    <a [routerLink]="['', 'dashboard']" class="btn started-btn"
      >View Dashboard</a
    >

    } @else {
    <a [routerLink]="['', 'login']" class="btn sign-in-btn">Sign In</a>

    }
  </div>
</nav>
